body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #56ccf2, #2f80ed);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(cloud2);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    background: #ffa500;
    padding: 50px;
    width: 400px;
    text-align: center;
    border-radius: 12px;
}

input {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1c6ed5;
}

#error {
    color: red;
    margin-top: 10px;
}

#loading {
    color: #555;
}

body {
    margin: 0;
}

.marquee-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* background me chala jayega */
}

.marquee-text {
    position: absolute;
    white-space: nowrap;
    font-size: 60px;
    opacity: 0.08;
    animation: move 20s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.weather-note {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #555;
    opacity: 0.7;
}